
header {
    display: flex;
    max-width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
}
#sidebar{
    display: flex;
    max-width: 300px;
    margin-left: 10px;
    border-right: solid 1px #545454;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 850px;
}
main h2{
    margin-bottom: 100px;
}
main button {
    width: 150px;
    background-color: #B1D1A4;
    border-radius: 5%;
    text-decoration-color: #fff;
}

form {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border: none;
    height: 200px;
}

form div {
    display: flex;
    width: 200px;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #373867;
    border-radius: 3px;
}

form label{
    color: #373867;
    font-weight: bold;
}

div p{
    color: #373867;
}

form input{
    margin-bottom: 45px;
}
.email-input {
    width: 200px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
}

@media  only screen and (max-width: 760px){

#sidebar{
    display: none;
}

main{
    margin-left: 0px;
}
}