body{
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    max-width: 2000px;
    flex-grow: 2;
}

header h2{
    justify-content: center;
    align-items: center;
    align-content: center;
}

#sidebar{
    display: flex;
    flex-grow: 1;
    max-width: 500px;
    margin-left: 10px;
    border-right: solid 1px #545454;
}

main{
    display: flex;
    justify-content: center;
    height: 900px;
}

main h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 100px;
    height: 30px;
    width: 150px;
}

#SU-div{
    display: flex;
    justify-content: center;
}

main button {
    width: 150px;
    background-color: #B1D1A4;
    border-radius: 5%;
    text-decoration-color: #fff;
}

form {
    display:flex;
    align-items: center;
    flex-grow: 1;
    background-color: #fff;
    max-width: 2000px;
    border: none;
    margin-top: 50px;
}

#big-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
}

#lil-div1{
    margin-left: 20px;
    margin-right: 20px;
}

#lil-div2{
    margin-left: 20px;
    margin-right: 20px;
}

form div{
    display: flex;
    flex-direction: column;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #373867;
    border-radius: 3px;
}

form label{
    color: #373867;
}

form button{
    background-color: #B1D1A4;
    margin-top: 15px;
}

#btnContinue{
    width: 187px;
    height: 55px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
}

@media  only screen and (max-width: 768px){

    #sidebar{
        display: none;
    }

    main{
        margin-left: 0;
    }

    #big-div{
        justify-content: center;
    }
}
@media  only screen and (max-width: 1000px){
    #big-div{
            flex-grow: 1;
            max-width: 1200px;
    }
}