<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="tincho.rova@gmail.com">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/general.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <script src="../Javascript/sign-up.js"></script>
    </head>
    <body>
         <aside id="sidebar">
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
            <div  class="menu">
                <p>
                    Menu
                </p>
            </div>
            <ul class="menu-list">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./sign-up.html">Sign up</a></li>
                <li><a href="./login.html">Log in</a></li>
            </ul>
            <div  class="menu">
                <p>
                Get in touch
                </p>
            </div>
            <p class="p-sidebar">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Accusantium reiciendis mollitia cupiditate explicabo amet sequi
            </p>
            <div class="bottom-div">
                <img src="../images/mail.png" alt="mail">
                <a href=#>information@trackgenix.tld</a>
            </div>
            <div class="bottom-div">
                <img src="../images/Home.png" alt="Home">
                <a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a>
            </div>
            <div class="bottom-div">
                <img src="../images/phone.png" alt="phone">
                <a href="#">(000) 000-0000</a>
            </div>
        </aside>
        <div class="conteiner">
            <header>
                <div>
                    <span>
                        <img src="../images/burguer.svg" alt="burguer menu">
                    </span>
                    <div>
                        <h2>Trackgenix S.A.</h2>
                        <!--<img src="./images/logo.jpg" alt="Trackgenix logo">-->
                    </div>
                </div>
            </header>
            <main>
                <form id= "myForm">
                    <h2>Sign Up</h2>
                    <label>First Name</label>
                    <input type = "text" id = "firstName">
                    <span id = "span1"></span>
                    <label>Last Name</label>
                    <input type = "text" id = "lastName">
                    <span id = "span2"></span>
                    <label>DNI</label>
                    <input type = "text" id = "dni">
                    <span id = "span3"></span>
                    <label>Birth day</label>
                    <input type = "text" id = "date">
                    <span id = "span4"></span>
                    <label>Phone number</label>
                    <input type = "text" id = "phone">
                    <span id = "span5"></span>
                    <label>Address</label>
                    <input type = "text" id = "address">
                    <span id = "span6"></span>
                    <label>Location</label>
                    <input type = "text" id = "localidad">
                    <span id = "span7"></span>
                    <label>Post code</label>
                    <input type = "text" id = "postCode">
                    <span id = "span8"></span>
                    <label>Email</label>
                    <input type = "email" id = "email">
                    <span id = "span9"></span>
                    <label>Password</label>
                    <input type = "password" id = "password">
                    <span id = "span10"></span>
                    <label>Repeat password</label>
                    <input type = "password" id = "repeatPassword">
                    <span id = "span11"></span>
                    <button id = "btnContinue">Sign Up</button>
                </form>
            </main>
            <footer>
                <p>
                    Rosario, Argentina
                </p>
                <div>
                    <a href="#"><img src="../images/linkedin.svg" alt = "linkedin" width="40" length="40"></a>
                    <a href="#"><img src="../images/instagram.svg" alt="instagram" width="40" length="40"></a>
                    <a href="#"><img src="../images/facebook.svg" alt="facebook" width="40" length="40"></a>
                    <a href="#"><img src="../images/twitter.svg" alt="twitter" width="40" length="40"></a>
                </div>
                <p>
                    Copyright © 2022 Radium Rocket. All rights reserved.
                </p>
            </footer>
        </div>
    </body>