
header{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

main button{
    width: 150px;
    background-color: #B1D1A4;
    border-radius: 5%;
    text-decoration-color: #fff;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

.emailInput {
    width: 200px;
}

