header{ 
    display:flex;
    justify-content: space-around;
    background-color: #EDEDED;
    width: 100%;
    border-bottom:  4px solid #B1D1A4;
    position: fixed;
    margin-bottom: 20px;
    z-index: 3;
}

header h2{
    font-size: 50px;
    color: #373867;
    font-weight: bold;
    border-bottom: none;
}



@media  only screen and (min-width: 600px){
    header{
       width: 75%;
    }

}