main{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
  
    
    }
h1{
    font-size: 30px;
    padding: 30px 10px 30px 10px;
    color: #373867;
    
    
}
.h2{
    margin-top: 15px;
    border-bottom: 4px solid #B1D1A4;
    color: #373867;
    
    font-weight: bold;
    font-size: 25px;
    }

h3{
    border-bottom: 4px solid #B1D1A4;
    font-size: 24px;
    color: #373867;
    font-weight: bold;   
}

.welcome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}

.welcome :nth-child(3){
    align-self: flex-end;
}

.free-site{
    font-size: 28px;
    font-style: italic; 
    color: #373867;
    margin: 0 125px 43px 17px;
    
}

.here{
    font-size: 24px;
    color: #373867;
    margin-bottom: 20px;
    margin-top: 30px;
    opacity: 0.5;
    width: 50%;
}

.learn-more{
    background-color: #B1D1A4;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 15px;
}

/* SECTION WCYD*/

.wcyd{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 40px;
    justify-content: space-around;
}

.wcyd div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;
    margin-top: 20px;
    width: 35%;
}
.wcyd div :nth-child(1){
    order: 1
}
.wcyd div :nth-child(3){
    order: 2
}
.wcyd div h3{
    border-bottom: none;
}

.wcyd p{
    font-size: 18px;
    color: #373867;
    text-align: center;
    width:40%;
    height: 30%; 
    
}

#why{
    display: flex;
    flex-direction: column;
}

#why h2{
    display: flex;
    justify-content: center;
}

.list{
    display: flex;  
    font-size: 18px;
    color: #373867;
    justify-content: center;
    margin-top: 15px;
}

.list li{
    padding: 20px 20px 30px 20px;
    font-weight: bold;
    list-style-type: '✓';
}

form{
    display:flex;
    flex-direction: column;
    background-color: #9E9E9E;
    border: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 30px;

}

.form label{
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.form-group{
    display: flex;
     flex-direction: column;
     align-content: center;   
    padding: 20px;
}

.form-group-checkbox{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 160px;
    padding: 20px;  
}

.form-group textarea{
    width: 325px;
    height: 80px;
}

/*
ul .checkbox input{
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.form-group input{
    width: 317px;
    height: 43px;
}

#history{
    display: flex;
    flex-direction: column;
}

#history p{
    display: flex;
    color: #373867;
    padding: 24px 0 24px 0;
    text-align: center;
}

.ordered-lists{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ordered-lists ol{
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
    align-items: center;
    
}

.ordered-lists ol li{
   
    padding: 5px 0 5px 0;
    list-style-type: decimal;
    color:#373867;
    font-weight: bold;
}

.ordered-lists ol a{
    color:#373867;
}


@media  only screen and (min-width: 600px){
    .container{
        width: 75%;
        justify-content: normal;
        flex-wrap: wrap;
    }

    .wcyd{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}