/* 
h1{
    font-size: 64px;
    font-weight: bold;
    display: inline-block;
    width: 350px;
    margin-bottom: 100px;
    margin-top: 40px;
    
}

h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

a{
    text-decoration:none;
    color:#545454;

}

body{
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.conteiner{
  
    width: 80%;
    left: 120px;
    top: 30px;
    margin-left: 370px;
    margin-top: 72px;
    
}
#sidebar{
   position: fixed;
   width: 250px;
   height: 100vh;
   margin-left:40px;
   margin-top:0px;
   padding-right: 15px;
   border-right: 1px solid #545454; 
}

.menu{
    border-bottom: 3px solid #B1D1A4;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 80px;
}

.menu-list{
    list-style:none;
    border-bottom:solid;
    border-width: 1px;
    padding-bottom:50px;
    padding-left: 100;
    font-size: 18px;

}


.menu-list li {
    padding:0px;
    margin-top:10px;
    margin-left: 0;
    border-bottom: 1px solid #545454;
    margin-bottom: 30px;
    font-size:18px;
}

#sidebar p{
    padding:5px;
    display:inline-block;
    width: 300px;
}

.here{
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.p-54{
    color:#545454;
    
}



.header{
    position: fixed;
    top:0PX;
    left: 24%;
    width: 76%;
    border-bottom: 2px solid #B1D1A4;
    background-color:#FFF;
    z-index: 10;
}


.free-site{
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    width: 426px;
}

#clock{
    display:inline-block;
    width: 300px;
    height: 200px;
    position: relative;
    left: 400px;
    top: 50px;
}

/*
h2{
    font-size: 48px;
    font-weight: bold;
    border-bottom: 2px solid #B1D1A4;
    margin-bottom: 80px;
    padding-bottom: 5px;
    padding-top: 5px;
}*/

.learn-more{
    background-color: #B1D1A4;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 15px;
}

.wcyd div{
    display:inline-block;
    width: 500px;
    height: 260px;
    margin-bottom: 50px;
}

.wcyd img{
    float:left;
}

.wcyd > div > p{
    font-size: 28px;
    font-weight: regular; 
    position: relative;
    top: 80px;

}

.wcyd h3{
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 200px;
    top: 60px;

}

#why h2{
    border-bottom: 2px solid #B1D1A4;

}

.list{
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.list li{
    padding: 20px 20px 30px 20px;
    font-weight: bold;
    list-style-type: '✓';
}


#form{
    padding: 10px;
    border: 1px solid #545454;
    position: relative;
    left: 20px;
    width: 700px;
}


#form label{
    font-size: 14px;
    font-weight: bold;
}

#form .form-group{
    padding-bottom: 15px;
    display: inline-block;
    width: 300px;
    height: 100px;

}
#form .form-group label{
    display: block;

}

#form .form-group input{
    padding: 8px;
    width: 150px;
    display: inline-block;

}

.form-group-checkbox{
    width: 100px;
    height: auto;
}
.form-group-checkbox input{
    
    margin-bottom: 18px;
    margin-top: 8px;
    height: 10px;
}

#form .checkbox{
    display: inline-block;
    width: 160px;
}

#history{
    background-color: #D9E0D6;
    border-radius: 50%;
    background-position: center center;
    width: 800px;
    height: 500px;
}

#history h3{
    font-size: 30px;
    color: #756464;
    margin-left: 20px;
    position: relative;
    top: 160px;
    left: 160px;
}
#history p{
    font-size: 12px;
    height: 200px;
    width: 300px;
    position: relative;
    top: 250px;
    left: 100px;
}

#history .objective{
    position: relative;
    left: 450px;
    top: 100px;
    
    margin: 0;
}
#history img{
    position: relative;
    bottom: 310px;
    left: 450px;
}

.ordered-lists div{
    display:inline-block;
    width: 142px;
    height: 698px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 170px;
}

.ordered-lists div h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    border-bottom: 3px solid #B1D1A4;
    
}

.ordered-lists div li{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

#footer{
    border-top: 3px solid #B1D1A4;
    width: 80%;

}

#footer p{
    font-size: 18px;
    color: #545454;
    text-align: center;
    
}

#footer a{
    position: relative;
    left: 430px;
    
}
 */
